<div class="page-lock">
  <div class="page-logo">
    <a
      class="brand"
      href="#">
      <img
        src="../../../assets/images/logo-big.png"
        alt="logo">
    </a>
  </div>
  <div class="page-body">
    <div class="lock-head">Insufficant Permissions</div>
    <div class="lock-body">
      <div class="lock-cont">
        <div class="lock-item">
          <div class="pull-left lock-avatar-block"></div>
        </div>
        <div class="lock-item lock-item-full">
          <form
            class="lock-form pull-left"
            method="GET">
            <p>Sorry but you don't have enough permissions to perform this operation</p>

            <div class="form-actions text-center">
              <!-- <a
                href="#"
                style="margin-top: 20px"
                [routerLink]="['/']"
                class="btn red uppercase">
                Home
              </a> -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="lock-bottom">
      <a href></a>
    </div>
  </div>
  <div class="page-footer-custom">2019 © Global Clearinghouse Systems.</div>
</div>
